<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" 
         IgnorableNamespaces="uap mp uap3 desktop rescap">
  <Identity Name="622PKar.GrajCyganie" Publisher="CN=B2AF14E8-43FD-463C-83BA-4CEC47122EA2" Version="2.2.5.0" />
  <mp:PhoneIdentity PhoneProductId="118a573d-dbbb-4f83-ac95-6f649233e16e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>GrajCyganie</DisplayName>
    <PublisherDisplayName>PKar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GrajCyganie.App">
      <uap:VisualElements DisplayName="GrajCyganie" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="GrajCyganie" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!--        <desktop:Extension Category="windows.fullTrustProcess" Executable="Win32\SystrayComponent.exe" /> -->
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="SysTrayExtensionService" />
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap3:AppService Name="com.microsoft.pkar.cygan" SupportsRemoteSystems="true" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap3:Capability Name="remoteSystem" />
    <rescap:Capability Name="fullTrust" /> <!-- było zaREMowane, ale dla dostepu do plikow lokalnych muszę to mieć -->
    <rescap:Capability Name="confirmAppClose" />
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <rescap:Capability Name="broadFileSystemAccess" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>