@page
@model IndexModel
@{
    ViewData["Title"] = "Szukanie własnych plików";
}

<div class="text-center">
    <h1 class="display-4">Moje pliczki</h1>
    <p>Wybierz coś z menu</p>
</div>

<!-- 
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />

    https://datatables.net/examples/basic_init/multiple_tables.html
} 
-->